h1 {
  font-size: 3rem;
}

h1, h2, h3 {
  padding:8px;
  text-align: center;
  background-color: rgb(235, 221, 94);
  border-radius: 10px;
}

.img-div {
  display: flex;
  justify-content: center;
}

.chicken-pot-pie-img {
  width: 500px;
  height: auto;
}